@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mooli&family=Poppins:ital,wght@0,600;1,300&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik';
}
*::selection{
    background-color: black;
    color:rgb(169, 164, 164);
}
body,html{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
}
.page1{
    height: 160vh;
    position:relative;
    width: 100%;
    padding : 0 2vw;
    padding-top: 8vw;
}
.page1 h1{
    font-size: 12vw;
    line-height: 9.5vw;
}
.video-container{
    height:100vh;
    width:100%;
    z-index: 100;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video-container .play{
    padding:1.3vw 0.3vw;
    border-radius:50%;
    position: fixed;
    top:0%;
    left:0%;
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: 500;
    opacity:0;
    scale:0;
}
.page2{
    padding: 3vw 1vw;
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1vw;
}
.page2 .elem{
    height: 100%;
    width:30%;
    /* background-color: brown; */
    overflow: hidden;
    border-radius: 15px;
}
.page2 .elem img{
    height: 100%;
    width:100%;
    object-fit: cover;
    scale:1.1;
    
}
button{
    cursor: pointer;
}


.hvr-bounce-to-top{
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.5s;
    transition-duration:.5s;
    border-radius: 15px;
}

.hvr-bounce-to-top:before{
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;right:0;bottom:0;background:#d17e20;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}

.hvr-bounce-to-top:active,.hvr-bounce-to-top:focus,.hvr-bounce-to-top:hover{
    border-radius: 15px;
    color:#fff}
    .hvr-bounce-to-top:active:before,.hvr-bounce-to-top:focus:before,.hvr-bounce-to-top:hover:before
    
    { border-radius: 15px;
        -webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transition-timing-function:cubic-bezier(0.52,1.64,.37,.66);transition-timing-function:cubic-bezier(0.52,1.64,.37,.66)}

    .box{
        height:6vh;
        width: 80%;
        background-color: burlywood;
        z-index:5;
        border: none;
        position:relative;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        font-weight: 800;
        font-size: 1vw;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0 10px;
    }
    .dot:hover{
        background-color: #fff;
    }
    .page2 .elem .box .dot{
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: black;
    }
    .page3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:5vw;
        padding: 5vw 6vw;
        height:30vh;
        width: 100%;
        border:none;
    }
    .page3 .message h1{
        line-height: 3vw;
        -webkit-text-stroke-width: 0.8px;
        font-size: 2.3vw;
        padding-top: 5vw;
    }
    .page3 .message-dets p{
        padding-top: 5vw;
        justify-self:flex-start;
    }
    .page3 .message-dets a{
        color : #fff;
        text-decoration: none;
    }
    .page4{
        padding:4vw 4vw;
    }
    .page4 .grid-box{
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: 60vh 60vh;
        gap: 30px;
        justify-content: space-between;
        /* align-items: center; */
    }
    .elem img{
        border-radius: 15px;
        width:100%;
        height: 60vh;
        object-fit: cover;
        scale:1.1;
    }


    .shadow-text{
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        color: rgb(255, 255, 255);
        top:-45%;
        left:10%;
        /* transform: translate(-50%,-50%); */
        height:12vh;
        width: 82%;
        z-index: 99;
        border-radius: 15px;
        background-color: rgba(82, 74, 74, 0.861);
    }
    .shadow-text p{
        text-align: center;
        font-size: 1vw;
        font-weight: 800;
    }

    .page5{
        height: 100vh;
        width: 100%;
        background-color: aqua;
    }

@media only screen and (max-width: 768px){
    .video-container{
        height : 25vh;
        margin :2vw 0; 
    }
    .video-container .play{
        padding : 4vw 2vw;
        font-size: 5px;
    }
    .page1{
        padding: 1vw 3vw;
        margin:0;
        height:40vh;
    }
    .page2{
        margin :0 2px;
        height:300vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .page2 .elem{
        width: 100%;
        height:100vh;
        margin : 2px 6px;
    }
    
}

